video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    /*background: url('images/img-home.jpg') center center/cover
    no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    /*object-fit: contain;*/

    /*1111111111111111111111111111111111111111111111111111111111111111111111111111111*/
}

.heading {
    margin: 0;
    height: 100px;
    flex: 1;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.04em;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.heading-wrapper {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.paragraph {
    align-self: stretch;
    position: relative;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.5);
}

.text-wrap {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    max-width: 100%;
}

.cta-text {
    height: 29px;
    flex: 1;
    position: relative;
    font-size: 24px;
    letter-spacing: -0.04em;
    display: inline-block;
    font-family: Inter;
    color: #0d0d0d;
    text-align: center;
}

.cta-button {
    cursor: pointer;
    border: 0;
    padding: 24px;
    background-color: #fff;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 320px;
    white-space: nowrap;
}

.cta-button:hover {
    background-color: #e6e6e6;
}

.button-wrap,
.text-wrapper {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.button-wrap {
    align-self: stretch;
    flex-direction: row;
}

.text-wrapper {
    width: 816px;
    height: 750px;
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
    gap: 64px;
    min-width: 762px;
    max-width: 816px;
}

.image-description {
    height: 39px;
    position: relative;
    letter-spacing: -0.04em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-wrapper,
.screen-hero-section {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.map-wrapper {
    width: 907px;
    background-color: rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
    justify-content: center;
    padding: 461px 21px 460px 20px;
    min-width: 907px;
    max-width: 100%;
    text-align: center;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.25);
}

.screen-hero-section {
    width: 85%;
    position:relative;
    background-color: #242424;
    justify-content: flex-start;
    padding: 0 0 0 120px;
    gap: 10px 150px;
    letter-spacing: normal;
    text-align: left;
    font-size: 72px;
    color: #f3f3f3;
    font-family: Inter;
}

@media screen and (max-width: 1525px) {
    .map-wrapper {
        flex: 1;
    }

    .screen-hero-section {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1225px) {

    .map-wrapper,
    .text-wrapper {
        min-width: 100%;
    }

    .screen-hero-section {
        gap: 10px 77px;
    }
}

@media screen and (max-width: 850px) {
    .heading {
        font-size: 58px;
    }

    .text-wrapper {
        gap: 64px;
        max-width: 100%;
    }

    .image-description {
        font-size: 26px;
    }

    .map-wrapper {
        padding-top: 300px;
        padding-bottom: 299px;
        box-sizing: border-box;
    }

    .screen-hero-section {
        gap: 10px 77px;
    }
}

@media screen and (max-width: 450px) {
    .heading {
        font-size: 43px;
    }

    .paragraph {
        font-size: 19px;
    }

    .text-wrapper {
        gap: 64px;
    }

    .image-description {
        font-size: 19px;
    }

    .map-wrapper {
        padding-top: 195px;
        padding-bottom: 194px;
        box-sizing: border-box;
    }
}